<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <!-- DON'T FORGET TO MODIFY *.puzzle.web.html -->
<meta http-equiv="X-UA-Compatible" content="chrome=1, IE=edge">
<meta name="description" content="華容道 Klotski Âne rouge 箱入り娘 Red Donkey javascript game algorithm">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="klotski.ico"  rel="shortcut icon" >
<style>
body { 
	margin: 0px; 	
	padding: 0px;
}
</style>
  <script src="/javascripts/kineticJS/kinetic-v4.5.4.min.js"></script>

  <script src="/javascripts/CreateJS/preloadjs-0.6.2.min.js"></script>
  <script src="/javascripts/CreateJS/soundjs-0.6.2.min.js"></script>
    
  <script src="/javascripts/queue/queue.js"></script>
  <script src="/javascripts/hashmap/hashmap.js"></script>
    
  <script src="/javascripts/klotski.share.js"></script>
  <script src="/javascripts/klotski.utility.js"></script>
  <script src="/javascripts/klotskiSolver.js"></script>
  
  <script src="/javascripts/klotski.board.fayaa.js"></script>

  
  <script src="/javascripts/klotski.resource.js"></script>
  <script src="/javascripts/klotski.boardList.js"></script>
  <script src="/javascripts/klotski.okDialog.js"></script>
  <script src="/javascripts/klotski.vBoardSelect.js"></script>
  
  <script src="/javascripts/klotski.puzzle.js"></script>
  <script src="/javascripts/klotski.demo.js"></script>
  <body>
    
      <div id="boardStage"></div>
      <div id="selectMainStage"></div>
      <div id="selectTabsStage"></div>
      <div id="selectBoardStage"></div>
      <div id="dialogStage"></div>	

  </body>
</html>
